

<div class="modal-content">
  <div class="modal-header">
    <h3 class="col-12 text-center">Sign in</h3>
  </div>
  <div class="modal-body">

    <div class="text-center">
      <a class="btn btn-github btn-block" href="{% url 'github_oauth' %}">
        <i class="fab fa-github"></i>
        Sign in with <b>GitHub</b>
      </a>
    </div>

    <div class="text-center">
      <a class="btn btn-gitlab btn-block" href="{% url 'gitlab_oauth' 'gitlab' %}">
        <i class="fab fa-gitlab"></i>
        Sign in with <b>GitLab</b>
      </a>
    </div>

    <div class="text-center">
      <a class="btn btn-meetup btn-block" href="{% url 'meetup_oauth' %}">
        <i class="fab fa-meetup"></i>
        Sign in with <b>Meetup</b>
      </a>
    </div>

    <div class="text-center">
      <a class="btn btn-gnome btn-block" href="{% url 'gitlab_oauth' 'gnome' %}">
        <i class="gnome-icon-white"></i>
        Sign in with <b>GitLab for GNOME</b>
      </a>
    </div>

    <div class="text-center">
      <a class="btn btn-kde btn-block" href="{% url 'gitlab_oauth' 'kde' %}">
        <i class="kde-icon-white"></i>
        Sign in with <b>GitLab for KDE</b>
      </a>
    </div>

    <div class="text-center">
      <a class="btn btn-twitter btn-block" href="{% url 'twitter_oauth' %}">
        <i class="fab fa-twitter-square"></i>
        Sign in with <b>Twitter</b>
      </a>
    </div>

  </div>
  <div class="modal-footer">
    <p class="text-muted">We will store your token for your analysis. You can revoke the use at any time</p>
  </div>
</div>
