<!-- GENERAL STATUS CARD BEGIN -->
<div class="card shadow-sm">
    <div class="card-header">
        <div class="title">
            <h4>
                <strong>Server</strong>: {{request.get_host}}
            </h4>
            <h5>
                <strong>Total Projects (with data)</strong>: {{total_projects}} ({{total_projects_with_repos}})
            </h5>
            <h5>
                <strong>Total Users (authenticated)</strong>: {{total_users}} ({{total_users_authenticated}})
            </h5>
            <hr>
            <h5>
                <strong>Total tasks</strong>: {{total_intentions}}
            </h5>
            <h6>
                <i class="fas fa-check text-success"></i>
                <strong>Completed tasks</strong>: {{success_intentions}}
            </h6>
            <h6>
                <div class="fas fa-spinner"></div>
                <strong>Running tasks</strong>: {{running_intentions}}
            </h6>
            <h6>
                <i class="fas fa-exclamation-triangle text-warning"></i>
                <strong>Error tasks</strong>: {{error_intentions}}
            </h6>
            <hr>
            <h5>
                <strong>Total repositories</strong>: {{repos_count}}
            </h5>
            <h6>
                <i class="fab fa-git-square"></i>
                <strong>Git repositories</strong>: {{repos_git_count}}
            </h6>
            <h6>
                <i class="fab fa-github"></i>
                <strong>GitHub repositories</strong>: {{repos_github_count}}
            </h6>
            <h6>
                <i class="fab fa-gitlab"></i>
                <strong>Gitlab repositories</strong>: {{repos_gitlab_count}}
            </h6>
            <h6>
                <i class="gnome-icon"></i>
                <strong>GNOME repositories</strong>: {{repos_gnome_count}}
            </h6>
            <h6>
                <i class="kde-icon"></i>
                <strong>KDE repositories</strong>: {{repos_kde_count}}
            </h6>
            <h6>
                <i class="fab fa-meetup"></i>
                <strong>Meetup groups</strong>: {{repos_meetup_count}}
            </h6>
        </div>
    </div>
</div>
<!-- GENERAL STATUS CARD END -->
