{% extends "cauldronapp/base.html" %}

{% block content %}
<div class="container">
    <div class="h3 mt-5 mb-5 font-weight-bold text-dark text-uppercase">Cauldron Legal Notice and Terms of Use</div>

    <hr class="my-4">

    <p>These Legal Notice and Terms of Use govern the access to and use of the website at <a href="{% url 'homepage' %}">https://cauldron.io/</a> (the “Website”) and services offered here. The term “You/User” refers to any natural or legal person who accesses or has accessed the Website. By accessing or using the Website in any form and in particular, by sending your data in a contact or registration form, you agree to be bound by these Terms of Use. If you do not accept any term of these <strong>Terms of Use, then you may not access the Website or use our services</strong>.</p>
    <p><strong>This Agreement includes these Terms and Conditions and any attachment hereto, including without limitation to the <a href="{% url 'privacy' %}">Privacy Policy</a>, and our <a href="{% url 'cookies' %}">Cookies Policy</a>.</strong></p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">About us</div>

    <p>The owner of this website is Bitergium SLL (“Bitergia”, the “Company” or “we/us”), with Spanish Tax Identification Code B86533882 and registered office at Av.da Gregorio Peces Barba, 1 - 28918 Leganés, Madrid, Spain, entered in the Register of Companies of Madrid, Volume 30.234, Section 8, Page 180, Sheet M-544180, entry 1. The e-mail address at which the company may be contacted is: <a href="mailto:contact@cauldron.io">contact@cauldron.io</a></p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Cauldron Services</div>

    <p><strong>Sign in.</strong> In order to access to the platform and use our services, you need to sign in first by entering your email and password for your GitLab, GitHub or Meetup account. You agree to notify us immediately upon learning of any unauthorised use of your Account or any other breach of security known to you.</p>

    <p><strong>Services.</strong> Once you have signed in to our platform, you can currently use the Cauldron.io services for free, unrestricted and indefinitely to analyze data from software development communities. We reserve the right to modify, suspend, or discontinue Cauldron.io Services at any time for any reason, and to offer commercial fee-paying services. Notice of any suspension or termination will be given in accordance with these terms. We reserve the right to refuse the Cauldron Services to anyone for any reason.</p>

    <p><strong>Term.</strong> Your account shall be activated and remain in force unless terminated by either us or you hereunder. You may cancel your account at any time. All cancelations should be addressed to: <a href="mailto:contact@cauldron.io">contact@cauldron.io</a>. We may suspend or cancel your registration immediately in case of breach by you of these Terms, by written notice. We may provide you 30 days’ notice of termination in any other circumstance. On termination for any reason, your access to your account and all of its content will be disabled and your content deleted, except as maintained in backups (for back-up retrieval purposes only or for any contingency).</p>

    <p><strong>Responsibility and Use.</strong> As a user you are accepting, when visiting and using  the Cauldron.io website, all the conditions of use established here, without prejudice to the application of the corresponding obligatory legal requirements, if appropriate.</p>
    <p>The Cauldron website pages provide a wide variety of information, services and data. Users agree to use the website correctly and in accordance with these terms and applicable law.</p>
    <ul>
        <li>All data provided by Users shall be accurate and legal, when completing the electronic forms presented by us on Cauldron.io (e.g. in order to contact us or to obtain access to certain contents or services offered by the website).</li>
        <li>User is responsible for all and any use of the information, services and data offered by the Cauldron.io website, and in particular shall be exclusively liable for any use that is contrary to the provisions of the conditions contained herein or to the requirements of the Law and the maintenance of moral standards, respectable standards of behaviour and public order, or which may in any other way harm the rights of third parties or the proper operation of the website.</li>
        <li>When requesting a project data analysis, you are Data Controller of the personal data that may result from the provision of the Cauldron analytics services and, in no case, such data from any third party subject to analysis, will be disclosed. Please, for more information, review our <a href="{% url 'privacy' %}">Privacy Policy</a>.</li>
    </ul>

    <p><strong>Publication.</strong> The results of the projects you request analysis through Cauldron.io are not private, and can be published on the public dashboard, and may be removed or updated by us at any time and from time to time. You will not be identified as the person or entity who requested this analysis. You may share this data reports with third parties, but you are responsible for this sharing.</p>

    <p><strong>No warranties.</strong> Cauldron.io analytics services are a work in progress provided for free, and are based on publicly available data from a variety of sources that may not be complete, accurate or up-to-date. Accordingly, we make no warranties as to the accuracy and completeness of the analytics reports requested through the Cauldron.io Services, nor offer any other warranty in respect of the results of the analytics and other Cauldron.io Services. If we offer, and you purchase, commercial services based on Cauldron, other warranties may apply.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Limitation of liability</div>

    <p>To the maximum extent permitted by mandatorily applicable law, neither party shall be liable to the other party or any other person for any indirect, incidental or consequential damages, including loss or profit or goodwill, for any matter arising out of or relating to this Agreement or its subject matter, whether such liability is asserted on the basis of contract, tort or otherwise.</p>
    <p>You agree that, to the maximum extent permitted by applicable law, in no manner whatsoever will we be held liable by you for any use or disclosure by you of the results of the reports and other data analytics requested through the Cauldron Services.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Modifications</div>

    <p>Cauldron reserves the right to carry out, without giving prior notice, any modifications to the content of its website that it may consider appropriate, both in relation to the contents of the website and to its conditions of use or general contract conditions.</p>
    <p>These modifications may be made, through its website, by any legally admissible means and it shall be compulsory to comply with them for as long as they are published on the website and until such time as they are modified in a valid manner by any other subsequent modifications.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Reservation of the Right to Use Cookies</div>

    <p>Cauldron reserves the right to use cookies when Users browse through its website in order to facilitate the customisation and convenience of browsing. Please see our <strong><a href="{% url 'cookies' %}">Cookie Policy</a></strong>.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Data Protection</div>

    <p>In accordance with the provisions of applicable law (EU General Data Protection Regulation and Spanish law on data protection) we inform the Users of our website that the personal data collected by the company by means of the electronic forms forming part of our website and in communications with the Company will be processed by Cauldron in accordance with our <strong><a href="{% url 'terms' %}">Privacy Policy</a></strong>  which is incorporated to these terms by reference, and which is accepted by the User. Please read this carefully.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Intellectual Property</div>

    <p>The intellectual and industrial property rights in all the texts, images, and ways and methods of presenting and laying out its website pages belong to the Company or its licensors, and these elements are protected by applicable national and international law.</p>
    <p>All rights reserved. You may not reproduce, distribute, distribute or use of the whole or part of the contents of the Cauldron website (other than for internal browsing) without our express written consent.</p>

    <div class="h4 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Link to Third Party websites</div>

    <p>The website may provide links to other websites or resources over which Bitergia does not have control (“External Web Sites”). Such links do not constitute an endorsement by us of those External Web Sites. You acknowledge that we are providing these links to you only as a convenience, and further agree that we will not be held responsible for the content of such External Web Sites. Your use of External Web Sites is subject to the terms of use and privacy policies located on the linked to External Web Sites.</p>

    <div class="h5 mt-5 mb-4 font-weight-bold text-dark text-uppercase">Legal Actions and Applicable Legislation and Jurisdiction</div>

    <p>Cauldron reserves the right to bring appropriate actions in civil or criminal law as it may consider necessary in cases of unrightfully use of its website and its contents or breach of these conditions.</p>
    <p>The relationship between the User and Cauldron shall be governed by current Spanish law, and the magistrates and courts of the city of Madrid shall be competent to decide any controversy that may arise between the User and the Company.</p>

    <hr class="my-4">

    <p><em>Last updated: 2020-01-24</em></p>
</div>
{% endblock %}
