
.card-header {
    /*background-color: white;*/
    font-size: 18px;
    font-weight: 300;
}

.card {
    margin-bottom: 20px;
}


.login-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
}

.header-project {
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}


.info-panel {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 15px;
}

#logger-body {
    background-color: #555555;
    padding: 15px;
    overflow: scroll;
    width: 100%;
    margin: 10px;
}

.log-content {
    color: white;
}

#open-kibana {
    margin: 0 5px;
    border-radius: 0%;
}

#open-kibana-public {
    text-align: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


.nav-sidebar {
    position: fixed;
    z-index: 500;
    width: 220px;
    top: 56px;
    bottom: 0;
    left: 0;
    background-color: #404040;
    display: block;
    border-top: 1px solid #444;
}

.sidebar-with-text {
    width: 220px;
}

.sidebar-with-icons {
    width: 50px;
    height: 100%;
    align-items: center;
}

.sidebar-with-icons aside {
    width: 50px;
}

.sidebar-with-icons .sidebar-text {
    display: none;
}

.sidebar-with-icons .sidebar-project-image {
    padding-right: 10px;
    padding-left: 10px;
}

.sidebar-with-icons .sidebar-header a {
    padding: 5px;
}

.sidebar-content {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.sidebar-header {
    position: relative;
    margin-right: 2px;
    background-color: #303030;
}
.sidebar-header a {
    color: white;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-project-image {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: black;
    line-height: 40px;
}

.sidebar-project-title {
    margin-left: 6px;
}

ul.sidebar-item-list {
    list-style: none;
    padding: 0;
}

.sidebar-item-list li a {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color: #eeeeee;
    text-decoration: none;
}

.toggle-sidebar {
    color: white;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #303030;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #1a1a1a;
    width: 50px;
    cursor: pointer;
}

.sidebar-with-text .toggle-sidebar {
    width: 220px;
}

.toggle-sidebar-button {
    font-weight: 600;

}

.fly-out-menu {
    position: absolute;
    background-color: #404040;
    color: white;
    left: 50px;
    border: 1px solid #666;
}

.fly-out-menu .sidebar-item {
    width: 200px;
    height: 46px;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color: #eeeeee;
    text-decoration: none;
}

.sidebar-with-text .fly-out-menu {
    left: 220px;
}

.sidebar-item:hover {
    background-color: #505050;
}

.sidebar-item.active {
    background-color: #383838;
}

.download-toggle a:hover {
    color: #eeeeee !important;
}

.subtitle {
    font-weight: 300;
    font-size: 0.5em;
}