<p>We need a token to analyze this kind of repositories. You will be prompted by {{ datasource }} to grant Cauldron some permissions to retrieve data on your behalf, so that we can analyze the repositories you specify. You can revoke this permission whenever you may want, either in {{ datasource }} or in Cauldron.</p>
<p>For details, see our <a href="{% url 'terms' %}">Terms of service</a> and <a href="{% url 'privacy' %}">privacy</a> document</p>
