<div id="community-git" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-6">
            <p class="font-weight-bold text-muted mb-3"># Active people <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-12">
                <p class="h5 font-weight-bold text-gray-800"><span id="active_people_git">{{ metrics.active_people_git }}</span></p>
                <p class="text-muted mb-1">Git authors</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 border-left">
            <p class="font-weight-bold text-muted mb-3"># Onboardings <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/onboardings.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-12">
                <p class="h5 font-weight-bold text-gray-800"><span id="onboardings_git">{{metrics.onboardings_git}}</span></p>
                <p class="text-muted mb-1">Git authors</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-git-active"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-onboarding-leaving-git"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-aging-git"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-authors-retained-ratio-git"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-organizational-diversity-authors"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-organizational-diversity-commits"></div>
          </div>
        </div>
      </div>