<div id="community-reviews" class="mb-4 tab-pane fade" role="tabpanel" >
        <div class="row py-4 border">
          <div class="col-md-6">
            <p class="font-weight-bold text-muted mb-3"># Active people <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-12">
                <p class="h5 font-weight-bold text-gray-800"><span id="active_people_patches">{{metrics.active_people_patches}}</span></p>
                <p class="text-muted mb-1">PRs/MRs submitters</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 border-left">
            <p class="font-weight-bold text-muted mb-3"># Onboardings <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/onboardings.md"><i class="far fa-question-circle"></i></a></p>
            <div class="row">
              <div class="col-12">
                <p class="h5 font-weight-bold text-gray-800"><span id="onboardings_patches">{{metrics.onboardings_patches}}</span></p>
                <p class="text-muted mb-1">PRs/MRs submitters</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-reviews-active"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-onboarding-leaving-reviews"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-authors-aging-reviews"></div>
          </div>
          <div class="col-md-6">
            <div id="chart-authors-retained-ratio-reviews"></div>
          </div>
        </div>
      </div>