{% load static %}

<div class="modal fade" id="add-datasource-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a data source (1/2)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="d-flex justify-content-around">
            <button class="btn btn-github m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-github-modal">
              <i class="fab fa-github"></i>
              GitHub
            </button>
            <button class="btn btn-gitlab m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-gitlab-modal">
              <i class="fab fa-gitlab"></i>
              GitLab
            </button>
          </div>
          <div class="d-flex justify-content-around">
            <button class="btn btn-meetup m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-meetup-modal">
              <i class="fab fa-meetup"></i>
              Meetup
            </button>
            <button class="btn btn-git m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-git-modal">
              <i class="fab fa-git-alt"></i>
              Git
            </button>
          </div>
          <div class="d-flex justify-content-around">
            <button class="btn btn-gnome m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-gnome-modal">
              <i class="gnome-icon-white"></i>
              GitLab (GNOME)
            </button>
            <button class="btn btn-kde m-2 py-4 btn-block btn-datasource"
                    data-toggle="modal" data-target="#add-kde-modal">
              <i class="kde-icon-white"></i>
              GitLab (KDE)
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
