<div id="activity-git" class="mb-4 tab-pane fade" role="tabpanel" >
  <div class="row py-4 border">
    <div class="col-md-4">
      <p class="font-weight-bold text-muted mb-3"># Commits <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/commits.md"><i class="far fa-question-circle"></i></a></p>
      <div class="row">
        <div class="col-4">
          <p id="number_commits_last_month" class="h5 font-weight-bold text-gray-800">{{ metrics.commits_last_month }}</p>
          <p class="text-muted mb-1">Last month</p>
        </div>
        <div class="col-4">
          <p id="number_commits_last_year" class="h5 font-weight-bold text-gray-800">{{metrics.commits_last_year}}</p>
          <p class="text-muted mb-1">Last year</p>
        </div>
        <div class="col-4">
          <p id="number_commits_yoy" class="h5 font-weight-bold text-gray-800">{{metrics.commits_yoy | stringformat:"+.2f" }}%</p>
          <p class="text-muted mb-1">Year-over-year</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 border-right border-left">
      <p class="font-weight-bold text-muted mb-3"># Lines/commit <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/lines-commit.md"><i class="far fa-question-circle"></i></a></p>
      <div class="row">
        <div class="col-4">
          <p id="number_lines_commit_last_month" class="h5 font-weight-bold text-gray-800">{{ metrics.lines_commit_last_month|stringformat:".2f" }}</p>
          <p class="text-muted mb-1">Last month</p>
        </div>
        <div class="col-4">
          <p id="number_lines_commit_last_year" class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_last_year|stringformat:".2f"}}</p>
          <p class="text-muted mb-1">Last year</p>
        </div>
        <div class="col-4">
          <p id="number_lines_commit_yoy" class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_yoy | stringformat:"+.2f" }}%</p>
          <p class="text-muted mb-1">Year-over-year</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="font-weight-bold text-muted mb-3"># Lines/commit/file <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/lines-commit-file.md"><i class="far fa-question-circle"></i></a></p>
      <div class="row">
        <div class="col-4">
          <p id="number_lines_commit_file_last_month" class="h5 font-weight-bold text-gray-800">{{ metrics.lines_commit_file_last_month|stringformat:".4f" }}</p>
          <p class="text-muted mb-1">Last month</p>
        </div>
        <div class="col-4">
          <p id="number_lines_commit_file_last_year" class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_file_last_year|stringformat:".4f"}}</p>
          <p class="text-muted mb-1">Last year</p>
        </div>
        <div class="col-4">
          <p id="number_lines_commit_file_yoy" class="h5 font-weight-bold text-gray-800">{{metrics.lines_commit_file_yoy | stringformat:"+.2f" }}%</p>
          <p class="text-muted mb-1">Year-over-year</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="chart-commits"></div>
    </div>
    <div class="col-md-6">
      <div id="chart-lines-touched"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="chart-commits-hour"></div>
    </div>
    <div class="col-md-6">
      <div id="chart-commits-weekday"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="chart-commits-heatmap"></div>
    </div>
    <div class="col-md-6">
      <div id="chart-commits-by-repository"></div>
    </div>
  </div>
</div>
