<div class="col-xl-4 col-lg-6" id=project-{{project.id}} data-project-id="{{project.id}}">
  <div class="card mb-4 shadow">
    <!-- Card Header -->
    <div class="card-header d-flex">
      <div class="mr-auto font-weight-bold">
        <a href="{% url 'show_project' project.id %}">{{project.project.name}}</a>
        {% if project.total > 0%}
          <span class="ml-3 shareproject" data-toggle="modal" data-target="#shareModal"
          data-projname="{{project.project.name}}"
          data-projid="{{project.id}}"
          data-projurl="https://{{request.get_host}}{% url 'show_project' project.id %}">
            <button type="button" class="btn btn-sm btn-outline-success"
             data-toggle="tooltip" title="Share options">
            <i class="fas fa-share-alt"></i>
            </button>
          </span>
        {% endif %}
      </div>
      <div id="spinner-{{project.id}}" class="spinner-border spinner-border-sm" style="display: none;"></div>
      <div class="dropdown no-arrow">
        <a id="dropdown{{project.id}}" class="dropdown-toggle px-2 ml-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fe"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropddown{{project.id}}">
          <div class="dropdown-header">Options</div>
          <div class="dropdown-item"><a href="{% url 'show_project' project.id %}"><i class="fas fa-cog"></i> Project</a></div>
          {% if project.total > 0%}
          <div class="dropdown-item"><a href="{% url 'open_workspace' project.id %}" target="_blank" rel="noopener noreferrer"><i class="fa fa-wrench"></i> Data Workspace</a></div>
          <div class="dropdown-item"><button type="button" onclick="refreshProjectDatasources(this, {{project.id}})"role="button" class="btn btn-sm btn-icon-split btn-outline-success {% if project.total == 0 %} disabled{% endif %}" {% if project.total > 0 %}{% endif %}><span class="icon"><i class="fas fa-sync-alt"></i></span><span class="text">Refresh Data</span></button></div>
          {% endif %}
          <div class="dropdown-divider"></div>
          <div class="dropdown-item"><button type="button" data-toggle="modal" data-target="#modal-delete-project" data-project-id="{{project.id}}" role="button" class="open-deleteProjectModal btn btn-sm btn-outline-danger btn-icon-split"><span class="icon"><i class="fas fa-trash-alt"></i></span><span class="text">Remove Project</span></button></div>
        </div>
      </div>
    </div>
    <!-- ./card header -->
    <!-- card Body -->
    <div class="card-body">
      <!-- creation date -->
      <div class="row">
        <div class="col-5"><strong>Created</strong></div>
        <div class="col-7">{{ project.project.created | date:"jS M Y"}}</div>
      </div>

      <hr class="my-2">
      <!-- data sources -->
      <div class="row">
        <div class="col-5"><strong>Data sources</strong></div>
        <div class="col-7">
          <div class="container">
            <div class="row justify-content-between">
              <div>
                <i class="fab fa-git-square"></i> <span id="project-{{project.id}}-git">{{project.git}}</span>
              </div>
              <div>
                <i class="fab fa-github"></i> <span id="project-{{project.id}}-github">{{project.github}}</span>
              </div>
              <div>
                <i class="fab fa-gitlab"></i> <span id="project-{{project.id}}-gitlab">{{project.gitlab}}</span>
              </div>
              <div>
                <i class="gnome-icon"></i> <span id="project-{{project.id}}-gnome">{{project.gnome}}</span>
              </div>
              <div>
                <i class="kde-icon"></i> <span id="project-{{project.id}}-kde">{{project.kde}}</span>
              </div>
              <div>
                <i class="fab fa-meetup"></i> <span id="project-{{project.id}}-meetup">{{project.meetup}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-2">
      <!-- status -->
      <div class="row">
        <div class="col-5"><strong>Gathering status</strong></div>
        <div class="col-7">
          <div class="container">
            <div class="row">
              <div>
                Analyzing <span id="project-{{project.id}}-running">{{project.running}}</span> repositories.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->


    </div>
    <!-- ./card body -->

  </div>
</div>
