{% extends "cauldronapp/base.html" %}
{% load static %}


{% block css%}

{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
	<div class="mb-3 d-md-flex justify-content-between">

		<h1 class="mr-4">My projects</h1>


    <form method="GET" action ="" class="form-inline">
        <span class="font-weight-bold d-block mr-2">Search: </span>

        <div class="input-group">
          <input class="form-control" name="search" type="text" value="{{ request.GET.search }}" placeholder="Search..."/>
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
    </form>
	</div>

	<div class="row" id="projects-cards">
		<!-- PROJECT CARD-->
		{% if projects_info %}
			{% for project in projects_info %}
				{% include "cauldronapp/projects/project_card.html" %}
			{% endfor %}
		{% endif %}
		<!-- END PROJECT CARD-->
	</div>

  {% if projects_info %}
    {% include "cauldronapp/utils/nav_pagination.html" %}
  {% endif %}

</div>

{% include "cauldronapp/projects/delete_project.html" %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"></h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form class="form-inline">
				<div class="input-group col-12 px-0">
				  <input type="text" class="form-control" readonly>
				  <div class="input-group-append">
					<button class="btn btn-outline-dark copy-share-link-kibana rounded-right" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
				  </div>
				  <div class="btn-group ml-2" role="group">
					<a class="shareontwitter btn btn-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
					<a class="shareonlinkedin btn btn-linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					<a class="shareonemail btn btn-envelope"><i class="far fa-envelope"></i></a>
				  </div>
				</div>
			  </form>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}


{% block javascript %}
<script src="{% static 'js/projects.js' %}" charset="utf-8"></script>
{% endblock %}
