{% load cauldron_tags %}
{% load static %}

<div>

  <div class="card">
    <div class="card-header font-weight-bold">
      <ul class="nav nav-pills card-header-pills mb-2" id="card-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-category="overview" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Summary</a>
        </li>
        <li class="nav-item dropdown" style="line-height:1.5;" role="presentation">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="tab" aria-controls="activity">Activity</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-category="activity-overview" data-toggle="tab" role="tab" href="#activity-overview">Overview</a>
            {% if has_git %}
            <a class="dropdown-item" data-category="activity-git" data-toggle="tab" role="tab" href="#activity-git">Commits</a>
            {% else %}
            <a class="dropdown-item disabled" data-category="activity-git" data-toggle="tab" role="tab" href="#activity-git">Commits</a>
            {% endif %}
            {% if has_gitlab or has_github %}
            <a class="dropdown-item" data-category="activity-issues" data-toggle="tab" role="tab" href="#activity-issues">Issues</a>
            <a class="dropdown-item" data-category="activity-reviews" data-toggle="tab" role="tab" href="#activity-reviews">Reviews</a>
            {% else %}
            <a class="dropdown-item disabled" data-category="activity-issues" data-toggle="tab" role="tab" href="#activity-issues">Issues</a>
            <a class="dropdown-item disabled" data-category="activity-reviews" data-toggle="tab" role="tab" href="#activity-reviews">Reviews</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item dropdown" style="line-height:1.5;" role="presentation">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="tab" aria-controls="community">Community</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-category="community-overview" data-toggle="tab" role="tab" href="#community-overview">Overview</a>
            {% if has_git %}
            <a class="dropdown-item" data-category="community-git" data-toggle="tab" role="tab" href="#community-git">Commits</a>
            {% else %}
            <a class="dropdown-item disabled" data-category="community-git" data-toggle="tab" role="tab" href="#community-git">Commits</a>
            {% endif %}
            {% if has_gitlab or has_github %}
            <a class="dropdown-item" data-category="community-issues" data-toggle="tab" role="tab" href="#community-issues">Issues</a>
            <a class="dropdown-item" data-category="community-reviews" data-toggle="tab" role="tab" href="#community-reviews">Reviews</a>
            {% else %}
            <a class="dropdown-item disabled" data-category="community-issues" data-toggle="tab" role="tab" href="#community-issues">Issues</a>
            <a class="dropdown-item disabled" data-category="community-reviews" data-toggle="tab" role="tab" href="#community-reviews">Reviews</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item dropdown" style="line-height:1.5;" role="presentation">
          {% if has_gitlab or has_github %}
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="tab" aria-controls="performance">Performance</a>
          {% else %}
          <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="tab" aria-controls="performance">Performance</a>
          {% endif %}
          <div class="dropdown-menu">
            <a class="dropdown-item" data-category="performance-overview" data-toggle="tab" role="tab" href="#performance-overview">Overview</a>
            <a class="dropdown-item" data-category="performance-issues" data-toggle="tab" role="tab" href="#performance-issues">Issues</a>
            <a class="dropdown-item" data-category="performance-reviews" data-toggle="tab" role="tab" href="#performance-reviews">Reviews</a>
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-category="chaoss" data-toggle="tab" href="#chaoss" role="tab" aria-controls="chaoss" aria-selected="true"><img src="{% static '/img/chaoss_logo.png' %}" width="90" height="25" class="d-inline-block align-top" alt=""></a>
        </li>
        {% if repositories_count > 0 %}
        <li class="nav-item">
          <a class="nav-link"
             data-toggle="tooltip" title="Visualize the data in Kibana"
             href="{% url 'open_public_kibana' project.id %}"
             target="_blank">
            <span class="icon"><i class="fa fa-chart-bar"></i></span>
            <span class="text">More details</span>
          </a>
        </li>
        {% endif %}
        <div class="ml-auto form-inline">
          <form method="GET" id="repository-select-form" action ="" class="form-inline ml-2 mb-1">
            <div class="form-group">
              <!--<span class="font-weight-bold d-block d-md-inline mr-2">Filter by repository: </span>-->

              <select name="repo_url" class="selectpicker mr-2" title="Select a repository..." data-size="5" multiple data-max-options="50" data-style="btn-outline-dark" data-selected-text-format="count > 1" data-live-search="true">
                {% for repo in repos %}
                <option value={{repo.datasource_url}} data-icon="{{repo.backend | backend_fa_icon}}">{{repo.datasource_url}}</option>
                {% endfor %}
              </select>

              <button type="submit" class="btn btn-outline-dark"><strong>Apply filter</strong></button>
            </div>
            <input type="hidden" id="repository-select-from-date" name="from_date" value="">
            <input type="hidden" id="repository-select-to-date" name="to_date" value="">
            <input type="hidden" id="repository-select-tab" name="tab" value="">
          </form>
          <div class="input-group ml-2 mb-1">
            <input type="text" class="form-control"  id="date-picker-input">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="date-picker">
                <i class="fa fa-calendar"></i>&nbsp;
                <i class="fa fa-caret-down"></i>
              </button>
            </div>
            <button onclick="toggle_descriptions();" id="toggle-btn" type="button" class="btn btn-outline-dark show-descriptions-btn ml-2" data-toggle="tooltip" data-original-title="Show descriptions"><i class="fas fa-eye"></i></button>
          </div>
        </div>
      </ul>
    </div>

    <div class="tab-content card-body text-center mb-4">
      <!-- Start Overview -->
      {% include "cauldronapp/project/metrics/overview.html" %}
      <!-- End Overview -->

      <!-- Start Activity -->
      {% include "cauldronapp/project/metrics/activity/overview.html" %}

      {% if has_git %}
      {% include "cauldronapp/project/metrics/activity/commits.html" %}
      {% endif %}

      {% if has_gitlab or has_github %}
      {% include "cauldronapp/project/metrics/activity/issues.html" %}
      {% endif %}

      {% if has_gitlab or has_github %}
      {% include "cauldronapp/project/metrics/activity/reviews.html" %}
      {% endif %}
      <!-- End ACTIVITY-->

      <!-- Start Community -->
      {% include "cauldronapp/project/metrics/community/overview.html" %}

      {% if has_git %}
      {% include "cauldronapp/project/metrics/community/commits.html" %}
      {% endif %}

      {% if has_gitlab or has_github %}
      {% include "cauldronapp/project/metrics/community/issues.html" %}
      {% endif %}

      {% if has_gitlab or has_github %}
      {% include "cauldronapp/project/metrics/community/reviews.html" %}
      {% endif %}
      <!-- End Community -->

      <!-- Start Performance -->
      {% include "cauldronapp/project/metrics/performance/overview.html" %}

      {% include "cauldronapp/project/metrics/performance/issues.html" %}

      {% include "cauldronapp/project/metrics/performance/reviews.html" %}
      <!-- End Performance -->

      <!-- Start CHAOSS section -->
      {% include "cauldronapp/project/metrics/chaoss.html" %}
      <!-- End CHAOSS section -->
    </div>
  </div>
</div>
