{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}


{% block sidebar %}
  <div id="sidebar" class="sidebar-with-icons">
    <aside class="nav-sidebar nav-icons">
      <div class="sidebar-content">
        <div class="sidebar-header sidebar-item">
          <a href="{% url 'show_project' project.id %}">
            <div class="sidebar-project-image rounded-sm">
              <span class="project-initial">
                {{ project.name|slice:"1"|title }}
              </span>
            </div>
            <div class="sidebar-project-title sidebar-text">{{ project.name }}</div>
          </a>
        </div>
        <ul class="sidebar-item-list">

          <li class="sidebar-item
                    {% if request.resolver_match.url_name == 'show_project' %}
                    active
                    {% endif %}
                    ">

            <div class="fly-out-menu" style="display:none;">
              <a class="sidebar-item" href="{% url 'show_project' project.id %}">
                Overview
              </a>
            </div>
            <a href="{% url 'show_project' project.id %}">
              <i class="fas fa-home"></i>
              <span class="ml-3 sidebar-text">Overview</span>
            </a>
          </li>

          <li class="sidebar-item
                    {% if request.resolver_match.url_name == 'show_project_repos' %}
                    active
                    {% endif %}">
            <div class="fly-out-menu" style="display:none;">
              <a class="sidebar-item" href="{% url 'show_project_repos' project.id %}">
                Data sources
              </a>
            </div>
            <a href="{% url 'show_project_repos' project.id %}">
              <i class="far fa-list-alt"></i>
              <span class="ml-3 sidebar-text">Data sources</span>
            </a>
          </li>
        {% if editable %}
          {% if repositories_count > 0 %}
          <li class="sidebar-item">
            <div class="fly-out-menu" style="display:none;">
              <a class="sidebar-item" href="{% url 'open_workspace' project.id %}" target="_blank">
                Data Workspace
              </a>
            </div>
            <a href="{% url 'open_workspace' project.id %}" target="_blank">
              <i class="fas fa-chart-area"></i>
              <span class="ml-3 mr-2 sidebar-text">Data workspace <small><i class="fas fa-external-link-alt"></i></small></span>

            </a>
          </li>
          {% endif %}
          {% if has_git and authenticated %}
          <li class="sidebar-item download-toggle">
            <div class="download-menu fly-out-menu" style="display:none;">
              <p class="dropdown-header">Commits data as csv</p>
              <a class="sidebar-item disabled" href="#" id="download-git-csv-link">Download</a>
              <a class="sidebar-item" href="#" id="generate-git-csv-link">
                <div class="spinner-border spinner-border-sm mr-1" role="status"
                     id="spinner-git-csv-create" style="display: none;">
                  <span class="sr-only">Loading...</span>
                </div>
                Create new file
              </a>
            </div>
            <a type="button" tabindex="0">
              <i class="fas fa-file-download"></i>
              <span class="ml-3 sidebar-text">Export data <i class=" ml-1 fas fa-caret-right"></i></span>

            </a>
          </li>
          {% endif %}
          {% if projects_compare and repositories_count > 0 %}
          <li class="sidebar-item">
            <div class="fly-out-menu" style="display:none;">
              <a class="sidebar-item" href="{% url 'compare_projects' %}?projects={{project.id}}">
                Compare
              </a>
            </div>
            <a href="{% url 'compare_projects' %}?projects={{project.id}}">
              <i class="fas fa-exchange-alt"></i>
              <span class="ml-3 sidebar-text">Compare</span>
            </a>
          </li>
          {% endif %}
          <li class="sidebar-item">
            <div class="fly-out-menu" style="display:none;">
              <a class="sidebar-item" href="{% url 'show_project_actions' project.id %}">
                Settings
              </a>
            </div>
            <a href="{% url 'show_project_actions' project.id %}">
              <i class="fas fa-cog"></i>
              <span class="ml-3 sidebar-text">Settings</span>
            </a>
          </li>
        {% endif %}
        </ul>
        <div class="toggle-sidebar sidebar-item">
          <i id="toggle-sidebar-icon" class="fas fa-angle-double-right"></i>
          <span class="ml-3 sidebar-text">Collapse sidebar</span>
        </div>
      </div>
    </aside>
  </div>
{% endblock %}


{% block content %}
  <div class="project-content">
    <div class="container-fluid">

      <div class="p-md-4">
        {% include "cauldronapp/project/project_header.html" %}

        <!-- Check if there are repositories, if not, include a warning -->
        {% if repositories_count > 0%}
          <!-- Table OR visualizations -->
          {% if show_table %}
            {% include "cauldronapp/project/project_repositories.html" %}
          {% elif show_project_home %}
            {% include "cauldronapp/project/project_metrics.html" %}
          {% elif show_actions %}
            {% include "cauldronapp/project/project_actions.html" %}
          {% endif %}
        {% else %}
          <button type="button" class="btn btn-icon-split btn-orange mb-sm-1"
                  data-toggle="modal" data-target="#add-datasource-modal">
            <span class="icon"><i class="fa fa-plus"></i></span>
            <span class="text">Add data sources</span>
          </button>

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="row">
              {% if editable %}
              <div class="col-sm-10 offset-sm-1">
                <p class="font-weight-bold">Start adding data sources!</p>
                <p>Projects are defined by set of different data sources. To add information include some of them.</p>
              </div>
              {% else %}
              <div class="col-sm-12">
                <p class="font-weight-bold">No repositories found for this project</p>
                <p>The owner of this project has not added repositories yet. Check back later to see if they have been added.</p>
              </div>
              {% endif %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      </div>

    </div>

    {% include "cauldronapp/project/log_modal.html" %}
    {% include "cauldronapp/project/share_modal.html" %}
    <!-- Data source modals -->
    {% include "cauldronapp/project/datasource_modals/global.html" %}
    {% include "cauldronapp/project/datasource_modals/github.html" %}
    {% include "cauldronapp/project/datasource_modals/gitlab.html" %}
    {% include "cauldronapp/project/datasource_modals/git.html" %}
    {% include "cauldronapp/project/datasource_modals/meetup.html" %}
    {% include "cauldronapp/project/datasource_modals/gnome.html" %}
    {% include "cauldronapp/project/datasource_modals/kde.html" %}

  </div>

{% endblock %}


{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'js/project.js' %}" charset="utf-8"></script>

{% if show_table %}
<script src="{% static 'js/project_table.js' %}" charset="utf-8"></script>
{% else %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/project_metrics.js' %}" charset="utf-8"></script>
{% endif %}

{% endblock %}
