<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Share {{project.name}} project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% with project_name=project.name project_id=project.id %}
          {% include "cauldronapp/project/share_buttons.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
