{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="mb-3 d-md-flex justify-content-between">
        <h1>Settings</h1>
    </div>

    <!-- Success message -->
    {% if message_success %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message_success }}
    </div>
    {% endif %}

    <!-- Error message -->
    {% if message_error %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message_error }}
    </div>
    {% endif %}

    <!-- Username section -->
    <h2>Change name</h2>
    <p>Cauldron might have picked a username for you, but you are able to set up yours here.</p>
    <form class="input-group" method="post">
        {% csrf_token %}
        {{ form.first_name.errors }}
        {{ form.first_name }}
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Change</button>
        </div>
    </form>

    <hr class="my-4">

    <!-- Newsletter section -->
    <!--div class="mb-1 font-weight-bold text-gray-800 text-uppercase">Newsletter</div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="newsletterSwitch">
        <label class="custom-control-label" for="newsletterSwitch">Toggle this switch to subscribe to the Cauldron Newsletter</label>
    </div>

    <hr class="my-4"-->

    <!-- Tokens section -->
    <h2>Access tokens</h2>
    <p>Cauldron connects with certain services using access token. Here you can see the ones activated and revoke them if you wish.</p>
    <div class="row">

        <!-- GitHub Token Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-dark text-uppercase">GitHub Token</div>
                    {% if tokens.github %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkGH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkGH">
                            <div class="dropdown-header">Token actions:</div>
                            <a class="dropdown-item" id="delete-gh-token" href="#">Revoke</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if tokens.github %}
                                    {% if tokens.github.is_ready %}
                                    Status: <i class="fas fa-check text-success" data-toggle="tooltip" title="Ready to use"></i>
                                    {% else %}
                                    Status: <i class="fas fa-history" data-toggle="tooltip" title="Token in cooldown"></i> (<span data-countdown='{{ tokens.github.reset|date:"U000" }}'></span>)
                                    {% endif %}
                                {% else %}
                                Not defined
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-github fa-2x text-gray-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gitlab Token Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-warning text-uppercase">Gitlab Token</div>
                    {% if tokens.gitlab.gitlab %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkGL" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkGL">
                            <div class="dropdown-header">Token actions:</div>
                            <a class="dropdown-item" id="delete-gl-token" href="#">Revoke</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if tokens.gitlab.gitlab %}
                                    {% if tokens.gitlab.gitlab.is_ready %}
                                    Status: <i class="fas fa-check text-success" data-toggle="tooltip" title="Ready to use"></i>
                                    {% else %}
                                    Status: <i class="fas fa-history" data-toggle="tooltip" title="Token in cooldown"></i> (<span data-countdown='{{ tokens.gitlab.gitlab.reset|date:"U000" }}'></span>)
                                    {% endif %}
                                {% else %}
                                Not defined
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-gitlab fa-2x text-gray-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Meetup Token Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-danger text-uppercase">Meetup Token</div>
                    {% if tokens.meetup %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkMeetup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkMeetup">
                            <div class="dropdown-header">Token actions:</div>
                            <a class="dropdown-item" id="delete-meetup-token" href="#">Revoke</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if tokens.meetup %}
                                    {% if tokens.meetup.is_ready %}
                                    Status: <i class="fas fa-check text-success" data-toggle="tooltip" title="Ready to use"></i>
                                    {% else %}
                                    Status: <i class="fas fa-history" data-toggle="tooltip" title="Token in cooldown"></i> (<span data-countdown='{{ tokens.meetup.reset|date:"U000" }}'></span>)
                                    {% endif %}
                                {% else %}
                                Not defined
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-meetup fa-2x text-gray-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Gnome Token Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-warning text-uppercase">GNOME Token</div>
                    {% if tokens.gitlab.gnome %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkGnome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkGnome">
                            <div class="dropdown-header">Token actions:</div>
                            <a class="dropdown-item" id="delete-gnome-token" href="#">Revoke</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if tokens.gitlab.gnome %}
                                    {% if tokens.gitlab.gnome.is_ready %}
                                    Status: <i class="fas fa-check text-success" data-toggle="tooltip" title="Ready to use"></i>
                                    {% else %}
                                    Status: <i class="fas fa-history" data-toggle="tooltip" title="Token in cooldown"></i> (<span data-countdown='{{ tokens.gitlab.gnome.reset|date:"U000" }}'></span>)
                                    {% endif %}
                                {% else %}
                                Not defined
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="gnome-icon-gray-big"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- KDE Token Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-warning text-uppercase">KDE Token</div>
                    {% if tokens.gitlab.kde %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkKDE" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkKDE">
                            <div class="dropdown-header">Token actions:</div>
                            <a class="dropdown-item" id="delete-kde-token" href="#">Revoke</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if tokens.gitlab.kde %}
                                    {% if tokens.gitlab.kde.is_ready %}
                                    Status: <i class="fas fa-check text-success" data-toggle="tooltip" title="Ready to use"></i>
                                    {% else %}
                                    Status: <i class="fas fa-history" data-toggle="tooltip" title="Token in cooldown"></i> (<span data-countdown='{{ tokens.gitlab.kde.reset|date:"U000" }}'></span>)
                                    {% endif %}
                                {% else %}
                                Not defined
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="kde-icon-gray-big"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr class="my-4">

    <!-- Linked Accounts section -->
    <h2>Linked accounts</h2>
    <p>Cauldron cloud be linked to your account in certain services for notification purposes. Here you can see the ones active and revoke the connection if you want.</p>
    <div class="row">

        <!-- Twitter Card -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="text-xs font-weight-bold text-info text-uppercase">Twitter</div>
                    {% if linked_accounts.twitter %}
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkGH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLinkGH">
                            <div class="dropdown-header">Account actions:</div>
                            <a class="dropdown-item" id="unlink-twitter" href="#">Unlink</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if linked_accounts.twitter %}
                                Account: {{ linked_accounts.twitter.username }}
                                {% else %}
                                Not linked
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-twitter-square fa-2x text-gray-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr class="my-4">

    <!-- Account section -->
    <h2>Remove account</h2>
    <p>In the unlikely case you would like to delete your account, this is the place to do it.</p>
    <form action="{% url 'profile:delete_user' %}" method="post" id="delete_user">
        {% csrf_token %}
        <button type="button" class="btn btn-danger my-3" role="button" data-toggle="modal" data-target="#confirm-delete-user">Delete my account</button>
    </form>

    <!-- User Delete Modal -->
    <div class="modal fade" id="confirm-delete-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Account Deletion
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" id="submit" class="btn btn-danger danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'profile/jquery.countdown.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
$('[data-countdown]').each(function() {
  var $this = $(this), finalDate = $(this).data('countdown');
  $(this).countdown(finalDate, function(event) {
    var format = '%M:%S';
    if(event.offset.totalHours > 0) {
      format = '%H:' + format;
    }
    if(event.offset.totalDays > 0) {
      format = '%-d day%!d ' + format;
    }
    if(event.offset.weeks > 0) {
      format = '%-w week%!w ' + format;
    }
    $(this).html(event.strftime(format));
  })
  .on('finish.countdown', function(event) {
    $(this).parent().html('Status: <i class="fas fa-check text-success"></i>');
  });
});
</script>
<script>
$('#submit').click(function(){
  $('#delete_user').submit();
});
</script>
{% endblock %}
